modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

language= "python3"
run= "python app.py"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
